// ======================================
//  Variables
// ======================================

// Colors

$white: #fff;
$dark-grey: #4F4F4F;
$light-grey: #8E8E8E;
$dark-mode-bg: #242424;


// Fonts
$font-stack-primary: 'Nunito', sans-serif;


// Layout
$max-width: 1400px;

$breakpoints: (
	'sm': 375px,
	'med': 768px,
	'lg': 992px,
);