// ==========================================
//          Modal Styles
// ==========================================
.modal {
    display: none;
    flex-direction: column;
    align-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-card {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    padding-top: 20px;
    border-radius: 10px;
    width: 80%;

    & p {
        font-size: 0.8em;
        color: $dark-grey;
    }

    @include mq('sm-med') {
        width: 70%;
    }

    @include mq('med') {
        width: 40%;
    }
}

.modal-img img {
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: rotate(-5deg) scale(1.1);
    }
}

.close,
.back,
.forward {
    color: $dark-grey;
    font-size: 40px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.back {
    float: left;
}

.close, 
.forward {
    float: right;
}

.close:hover,
.close:focus,
.back:hover,
.back:focus,
.forward:hover,
.forward:focus {
    color: $accent;
    text-decoration: none;
    cursor: pointer;    
}

.modal-img {
    display: flex;
    justify-content: center;

    & img {
        border-radius: 50%;
    }
}

.modal-info,
.modal-info-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3px;
}

.modal-info {
    padding-bottom: 20px;
    margin-left: 23.36px;
}

.modal-info-bottom {
    border-top: 1px solid $dark-grey;
    padding-top: 20px;
}

