// ======================================
//  Image Styles
// ======================================

.gallery a img {
    border-radius: 8%;
    transition: 1.2s;
    &:hover {
        transform: scale(1.05);
    }
}

@include mq('med') {

    .gallery a img {
        &:hover {
        transform: scale(1.1);
        } 
    } 
}
