// ===============================
//       Button Styles
// ===============================

// .buttons {
//     padding-top: 50px;
// }

.buttons button,
.project-btns button {
    font-family: $font-family-primary;
    border: 3px solid $primary-color;
    transition: all 0.75s ease-in-out;
}

.nav {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 2rem;
    margin-top: 2rem;

    & button {
        font-size: 1.4rem;
    }

    @include mq('med') {
        flex-direction: row;
    }
}

.submit {
    padding-top: 0;
    padding-bottom: 2rem;

    & button {
        font-size: 1.4rem;
    }
}

.field.is-grouped {
    display: flex;
    justify-content: center;
}

.project-btns {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;

    & button {
        font-size: 1.4rem;
    }

    & span {
        margin: auto 0;
    }
}

#left {
    float: left;
}

#right {
    float: right;
}

.skill-icon {
    width: 2.5rem;
    height: 2.5rem;
}


